<section class="appointment-section ptb-100 gray-light-bg">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-lg-6 align-self-center">
                <div class="appointment-content">
                    <h2>The Best Medical Services, Doctors and Physicians</h2>
                    <p>The best way to prevent and slow down transmission is be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face. </p>
                    <h4>Open 24h - Every Day!</h4>
                    <p class="lead">Call Us : <span class="h4 color-primary">+763 65123567</span></p>
                </div>
            </div>
            <div class="col-lg-5 align-self-center">
                <div class="appointment-form-wrap rounded border">
                    <ul class="nav nav-tabs appointment-tab" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#one" aria-controls="one" role="tab" aria-selected="true">Demande Rendez-vous</a>
                        </li> 
                    </ul>
                    <div class="tab-content appointment-form-content">
                        <div class="tab-pane fade active show" id="one">
                            <form [formGroup]="rdvForm" (ngSubmit)="sendDemande()" class="appointment-form p-5">
                                <div class="form-row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="pb-1">Date : </label>  
                                                <input type="date" class="form-control" name="date" formControlName="date" placeholder="Date Souhaité">
                                            <div *ngIf="f.date.touched && f.date.invalid" > 
                                                <div *ngIf="f.date.errors?.required" class="text-danger">Date Souhaité Obligatoire.</div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">  
                                            <label class="pb-1">Heure : </label>  
                                                <select class="form-control" name="heure" formControlName="heure">
                                                    <option value="aaaaaa" seclected>Select Heure</option>
                                                    <option value="08:00 - 09:00" >08:00 - 09:00</option> 
                                                    <option value="08:00 - 09:00" >08:00 - 09:00</option> 
                                                    <option value="08:00 - 09:00" >08:00 - 09:00</option> 
                                                    <option value="08:00 - 09:00" >08:00 - 09:00</option> 
                                                </select> 
                                            <div *ngIf="f.heure.touched && f.heure.invalid" > 
                                                <div *ngIf="f.heure.errors?.required" class="text-danger">Heure Souhaité Obligatoire.</div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group"> 
                                            <label class="pb-1">Commentaire : </label> 
                                            <textarea type="text" class="form-control" rows="3" name="comment" formControlName="comment" placeholder="Décrire votre situation"></textarea>                                           
                                            <div *ngIf="f.comment.touched && f.comment.invalid" > 
                                                <div *ngIf="f.comment.errors?.required" class="text-danger">Commentaire  Obligatoire.</div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-icon">
                                                    <span class="ti-exchange-vertical color-primary"></span>
                                                </div>
                                                <select class="form-control" name="select">
                                                    <option>Select Depertment</option>
                                                    <option>Doctor</option>
                                                    <option>Medicine</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 mt-3">
                                        <button type="submit" [disabled]="rdvForm.invalid" class="btn accent-solid-btn">
                                            Demander un Rendez-vous
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--appointment form section end-->