<!--hero section start-->
<section class="hero-equal-height pt-120 pb-100 gradient-bg">
    <img src="assets/img/shape4.svg" alt="group shape" width="80" class="img-fluid group-shape-1">
    <img src="assets/img/virus-1.png" alt="group shape" width="100" class="img-fluid group-shape-2">
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-6">
                <div class="hero-slider-content text-white z-index position-relative py-5">
                    <h1 class="text-white">
                        Contactez un médecin
                        quand vous le souhaitez<strong></strong></h1>
                    <p class="lead"> </p>

                    <!--<div class="action-btns mt-3">
                        <a href="#" class="btn accent-solid-btn mr-3">How to Protect <i class="fas fa-shield-alt pl-3"></i></a>
                        <a href="https://www.youtube.com/watch?v=1APwq1df6Mw" class="popup-youtube circle-btn"><i class="fas fa-play"></i> </a> <span class="pl-2"></span>
                    </div>-->
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="hero-animation-img z-index">
                    <img src="assets/img/protect-corona.svg" alt="hero" class="animation-one img-fluid custom-width">
                </div>
            </div>
        </div>
    </div>
    <img src="assets/img/combined-shape.svg" alt="s" class="shape-img-2">
    <div class="hero-bottom-shape" style="background: url('assets/img/hero-bottom-shape-2.svg')no-repeat bottom center"></div>
</section>
<!--hero section end-->

<!--promo section start-->
<section class="promo-block ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-8">
                <div class="section-heading text-center mb-5">
                    <h2>Trouvez rapidement le médecin le plus proche de chez vous !</h2>
                    <p class="lead"> Optimisez votre temps et trouvez facilement médecin ouvert le plus proche de chez vous !</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 dot-bg-shape dot-bg-1">
                <div class="spared-promo text-center white-bg p-5">
                    <div class="promo-img mb-4">
                        <img src="assets/img/cc.jpg" width="120" alt="spared" class="img-fluid">
                    </div>
                    <h5>NOS MÉDECINS SONT À VOTRE DISPOSITION</h5>
                    <p>Sélectionnez votre médecin, choisissez la date et heure de votre rdv et recevez votre sms/mail de confirmation!</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 dot-bg-shape dot-bg-2">
                <div class="spared-promo text-center white-bg p-5">
                    <div class="promo-img mb-4">
                        <img src="assets/img/24.jpg" width="120" alt="spared" class="img-fluid">
                    </div>
                    <h5>Prenez rendez-vous en ligne à tout moment</h5>
                    <p>Avec Medical, prenez rendez-vous en ligne avec votre médecin autrement </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 dot-bg-shape dot-bg-3">
                <div class="spared-promo text-center white-bg p-5">
                    <div class="promo-img mb-4">
                        <img src="assets/img/4.jpg" width="120" alt="spared" class="img-fluid">
                    </div>
                    <h5>Recevez des sms/mail de rappel personnalisés</h5>
                    <p>Retrouvez toutes les informations de votre médicament. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--promo section end-->

<!--about us section with promo start-->

<!--about us section with promo end-->

<!--symptoms section start-->

<!--call to action section end-->

<!--prevent section start-->
    
<!--prevent section end-->

<!--wash hand section start-->

<!--products section end-->
 
 
 
 